[submodule "bindings/c"]
	path = bindings/c
	url = https://github.com/csdms/bmi-c
[submodule "bindings/cxx"]
	path = bindings/cxx
	url = https://github.com/csdms/bmi-cxx
[submodule "bindings/fortran"]
	path = bindings/fortran
	url = https://github.com/csdms/bmi-fortran
[submodule "bindings/python"]
	path = bindings/python
	url = https://github.com/csdms/bmi-python
[submodule "examples/python"]
	path = examples/python
	url = https://github.com/csdms/bmi-example-python
[submodule "examples/fortran"]
	path = examples/fortran
	url = https://github.com/csdms/bmi-example-fortran
